
$fontbase:10px;
$widthbse:10px;
$bgcolor:rgba(0,0,0,.8);

.clearfix:after {
    content: '020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .aside-item{
    box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
  }
  .left-content-box{
    margin-top:20px;
    background-color: #fff;
  }